trigger:
- master

pool:
  vmImage: 'windows-2019'

steps:
- pwsh: gci "ENV:" | Out-Host
  displayName: 'Show environment'

- pwsh: .\set-vars.ps1 -GitHash $(Build.SourceVersion)
  displayName: 'Set build variables'

- task: Docker@2
  displayName: Login to Docker Hub
  inputs:
    command: login
    containerRegistry: DockerHub

- task: Docker@2
  displayName: Build Runtime Docker Image
  inputs:
    command: build
    containerRegistry: DockerHub
    arguments: --build-arg ARG_DOTNET_RUNTIME_VERSION=$(RuntimeVersion)
    repository: jasperd/servercore
    tags: |
      $(RuntimeHashTag)
      $(RuntimeTag)

- task: Docker@2
  displayName: Push Runtime Image to Docker Hub
  inputs:
    command: Push
    containerRegistry: DockerHub
    repository: jasperd/servercore
    tags: |
      $(RuntimeHashTag)
      $(RuntimeTag)

- task: Docker@2
  displayName: Build SDK Docker Image
  inputs:
    command: build
    containerRegistry: DockerHub
    arguments: --build-arg ARG_DOTNET_SDK_VERSION=$(SdkVersion)
    repository: jasperd/servercore
    tags: |
      $(HashTag)
      $(SdkTag)

- task: Docker@2
  displayName: Push SDK Image to Docker Hub
  inputs:
    command: Push
    containerRegistry: DockerHub
    repository: jasperd/servercore
    tags: |
      $(HashTag)
      $(SdkTag)

- task: Docker@2
  displayName: Logout of Docker Hub
  inputs:
    command: logout
    containerRegistry: DockerHub
